@if (ProductService.Products.Length == 0)
{
    <span>Products are loading ...</span>
}
else
{
    <MudDataGrid Items="@ProductService.Products" Filterable="false" SortMode="@SortMode.None" Groupable="false">
        <Columns>
            <HierarchyColumn T="Product" ButtonDisabledFunc="@(product => false)" />
            <TemplateColumn CellClass=" d-flex justify-end">
                <CellTemplate>
                    <MudImage Src="@context.Item.ImageUrl" Alt="@context.Item.Title" Elevation="25" Class="rounded-lg" />
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Title" Title="Title" />
            <PropertyColumn Property="x => x.Price" Format="C" Title="Price" />
        </Columns>
        <ChildRowContent>
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@context.Item.Title</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText>This element is number @context.Item.Description</MudText>
                </MudCardContent>
            </MudCard>
        </ChildRowContent>
    </MudDataGrid>
}