<RadzenDataGrid Data="@Products" TItem="Product" ColumnWidth="150px" >
    <Columns>
        <RadzenDataGridColumn TItem="Product" Property="Id" Title="ID" Width="50px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="Product" Title="Photo" Sortable="false" Width="250px">
            <Template Context="product">
                <RadzenImage  class="rz-border-radius-6" Path="@product.ImageUrl" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Product" Title="Title" >
            <Template Context="product">
                <p class="rz-text-wrap">@product.Title</p>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Product" Title="Description" Width="300">
            <Template Context="product">
                <p class="rz-text-wrap">@product.Description</p>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Product" Property="Price" Title="Price" >
            <Template Context="product"> 
                $<span>@product.Price</span>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
