@page "/products/{id:int}"

@if (Product == null)
{
    <span>@Message</span>
}
else
{
    <MudCard>
        <MudCardMedia Image="@Product.ImageUrl" Height="300" Title="@Product.Title" />
        <MudCardContent>
            <MudText Typo="Typo.h5">@Product.Title</MudText>
            <MudText Typo="Typo.body2">@Product.Description</MudText>
            @if (Product.Variants != null && Product.Variants.Count > 1)
            {
                <MudSelect Dense="false" T="int" Label="Variants" Variant="Variant.Text" @bind-Value="@currentTypeId">
                    @foreach (var variant in Product.Variants)
                    {
                        <MudSelectItem Value="variant.ProductTypeId">@variant.ProductType.Name</MudSelectItem>
                    }
                </MudSelect>
            }
            @if (GetSelectedVariant() != null)
            {
                @if (GetSelectedVariant()?.OriginalPrice > GetSelectedVariant()?.Price)
                {
                    <MudText Typo="Typo.body2" Color="Color.Error" Style="text-decoration: line-through;">
                        @GetSelectedVariant()?.OriginalPrice
                    </MudText>
                }
                <MudText Typo="Typo.body2" Color="Color.Success">
                    @GetSelectedVariant()?.Price
                </MudText>
            }
        </MudCardContent>
    </MudCard>
}